secrets.yaml
.storage/
.cloud/
deps/
tts/
home-assistant.log
home-assistant_v2.db
known_devices.yaml
custom_components/xboxone/__pycache__/__init__.cpython-37.pyc
custom_components/xboxone/__pycache__/media_player.cpython-37.pyc
.spotify-token-cache
